<div class="container">
  <div class="row">
    <div class="col-5 mt-5">
      <form 
        (ngSubmit)="onCreatePost(postForm.value)"
        #postForm="ngForm"
      >
        <div class="mb-3">
          <label for="title">Title</label>
          <input 
            name="title"
            type="text" 
            class="form-control"
            ngModel
          >
        </div>
        <div class="mb-3">
          <label for="comment">Comment</label>
          <textarea 
            rows="4"
            name="comment" 
            id="comment" 
            class="form-control"
            ngModel
          ></textarea>
        </div>
        <button 
          class="btn btn-primary"
          type="submit"
        >Send Post</button>
      </form>
    </div>
    <div class="col-7 mt-5">
      <div class="row">
        <div class="col-12">
          <button 
            class="btn btn-primary" 
            (click)="onFetchPosts()"
          >
            Fetch Posts
          </button> |
          <button class="btn btn-danger">Clear Posts</button>
        </div>
      </div>
      <div class="row">
        <div 
          class="col-sm-4 mt-3" 
          *ngIf="loadedPosts.length == 0 && !isFetching; else listGroup"
        >No posts data</div>
        <ng-template #listGroup>
          <app-list-group [loadedPosts]="loadedPosts"></app-list-group>
        </ng-template>
        <div class="loader" *ngIf="isFetching">Loading ...</div>
      </div>
    </div>
  </div>
</div>